/*{
	outline:1px solid rgba(255,0,0,0.3);
}*/
body{
	font-family: Oswald;
	background-image: url("../web/vertical.jpg");
	background-position:bottom;
} 
.container{
	background: #F0E097;
}
.menu{
	text-align: center;
	padding-top: 2%;
}
.submenu{
	text-decoration: none;
	margin: 2%;
	color: #B45F04;
}
.presentacion{
		text-align: center;
		color:#FFFFFF;
		margin-top:2%;
}
#radiologo{
	border-radius: 100%;
}
.inicimagen{
	background-image: url("../web/fondoo.jpg");
	/*background-size:50% 60%;*/
	background-position:left;
}
.cuadrofondo{
	background: #FF8000;
	background: rgba(144, 119, 63, 0.5);
	margin: 0%32%;
	}

h1{
	margin: 3% 0%;
	opacity: 1;
	font-size: 39px;
}
h5 {
	margin-bottom: 6%;
	font-size: 20px;
	font-family: monospace;
}
.foto{
	text-align: right;
	padding: 0%;
}
.img{
	width: 100%;
}
.morado {
	color: #B45F04;
	margin: 3% 0%;
	text-align: center;
}
.blanco{
	color: white;
	margin-bottom: 2% ;
}
.center{
	text-align: center;
	background: #FE9A2E;
	background: rgba(226, 123, 69, 0.5);

}
.space{
	margin: 0% 2%;
}
.contenedorgrande{
	overflow: auto;
	height: 211px;
}
.contenedorchico .gatitos{

	border-radius: 100%;
	padding:1%;
	border:1px #B45F04 solid;
	max-width: 22%;
	margin: 0% 1%;
}